
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'AttendanceLogin' | translate" [classHeader]="true">
    <div class="row">
        <div class="col-md-12">
                <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)] ="checkStatus" class="custom-control-input" id="customSwitches" (click)="onCheckIn()">
                    <label class="custom-control-label" for="customSwitches">{{'Check In' | translate}}</label>
                </div>
        </div>
    </div>
    </app-card>
  </div>
</div>
<ng2-toasty [position]="'top-center'"></ng2-toasty>