  <!-- Product table Start -->
  <div class="col-md-12 ">
    <div class="card">
      <div class="card-body">
        <h5>User Details</h5>

      </div>

      <hr>
      <div class="card-body product-table p-t-35">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr class="text-uppercase">
              <th>Product id</th>
              <th>Product name</th>
              <th>Price</th>
              <th>supplier name</th>
              
              <th>Edit</th>
              <th>Delete</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>test1</td>
              <td>100</td>
              <td>tcom</td>

              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Edit</button></td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Delete</button></td>
            </tr>
            <tr>
              <td>2 </td>
              <td>user</td>
              <td>56</td>
              <td>test</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Edit</button></td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Delete</button></td>
            </tr>
            <tr>
              <td>3</td>
              <td>alla</td>
              <td>150</td>
              <td>ahmad</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Edit</button></td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Delete</button></td>
            </tr>
            <tr>
              <td>4</td>
              <td>a</td>
              <td>500</td>
              <td>siva</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Edit</button></td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Delete</button></td>

            </tr>
            </tbody>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
              
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Product table End -->

