  <!-- Product table Start -->
  <div class="col-md-12 ">
    <div class="card">
      <div class="card-body">
        <h5>Quotation Details</h5>

      </div>

      <hr>
      <div class="card-body product-table p-t-35">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr class="text-uppercase">
              <th>Quotation number  </th>
              <th>vendor name</th>
              <th>quotation date</th>
              <th>Product name</th>
              <th>Total</th>

              <th>Edit</th>
              <th>Delete</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Naveen</td>
              <td>Alluri</td>
              <td>alluri</td>
              <td>alluri</td>

              <td>alluri@mail.com</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Edit</button></td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Delete</button></td>
            </tr>
            <tr>
              <td>test </td>
              <td>user</td>
              <td>test</td>
              <td>alluri</td>

              <td>test@mail.com</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Edit</button></td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Delete</button></td>
            </tr>
            <tr>
              <td>ahmad</td>
              <td>alla</td>
              <td>ahmad</td>
              <td>alluri</td>

              <td>ahmad@mail.com</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Edit</button></td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Delete</button></td>
            </tr>
            <tr>
              <td>siva</td>
              <td>a</td>
              <td>siva</td>
              <td>alluri</td>

              <td>siva@gmail.com</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Edit</button></td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">Delete</button></td>

            </tr>
            </tbody>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
              
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Product table End -->

  